@font-face {
    font-family: 'bangna_newregular';
    src: url('../fonts/bangna-new-webfont.eot');
    src: url('../fonts/bangna-new-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bangna-new-webfont.woff2') format('woff2'),
         url('../fonts/bangna-new-webfont.woff') format('woff'),
         url('../fonts/bangna-new-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Basic structure CSS */
body{
    height: 100%;
    background-color: #EEE;
}

#primary{
    background-color: white;
    margin-top: 15px;
    border: 1px;
    border-style: solid;
    border-color: #CCC;
    padding-bottom: 20px;
}

#main{
    margin-right: 10px;
    margin-left: 10px;
}

#logo{
    height: 30px;
    margin-top: -7px;
}

h1.bangna{
    font-family: 'bangna_newregular';
}

.menu{
    margin-top: 30px;
    margin-bottom: 10px;
}

.navbar-default{
    background-color: #ef7f24;
    -webkit-box-shadow: 0px 1px 2px 1px #999;
    -moz-box-shadow: 0px 1px 2px 1px #999;
    box-shadow: 0px 1px 2px 1px #999;
    border-style: none;
}

.navbar-brand {
    margin-left: 0;
    background-color: white;
}

.navbar-default .navbar-brand:hover{
    background-color: white;
}

.navbar-default .navbar-nav {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: #EEE;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #999;
}

/* sidebar css */
.widget-area{
    float: right;
}

/* index css */
.box-category{
    margin-top: 20px;
}

.box-article{
    margin-bottom: 10px;
}

.index .box-article img{
    float: left;
    margin-right: 20px;
    margin-left: 15px;
}

.box-article img{
    width: 200px;
    height: 100px;
    margin-bottom: 10px;
}

.box-category h3{
    font-family: 'bangna_newregular';
    color: #ef7f24;
}

.box-category small{
    color: #666;
}

.slider{
    padding: 0;
}

/* footer css */
footer.site-footer{
    background-color: #2057a5;
    color: #AAA;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}

/* Article css */
.entry-header-single{
    padding-top: 30px;
    padding-bottom: 30px;
}

hr.style-eight {
    text-align: center;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

hr.bold {
    border: 0px;
    height: 1px;
}

.entry-header-single .feature-img{
    -webkit-box-shadow: 0px 1px 2px 1px #999;
    -moz-box-shadow: 0px 1px 2px 1px #999;
    box-shadow: 0px 1px 2px 1px #999;
    height: 50%;
    max-height: 400px;
    overflow: hidden;
}
